{% extends 'base.html' %}
{% block title %}Recommendation Feed{% endblock %}
{% block main %}
{% if session['username'] %}
<center>
    <div class="task" id = "recommendation_feed">
        <div id="loading-screen">
            <div class="loader"></div>
            <p>Loading...</p>
        </div>
        <script>
            get_recommedations_feed();
            setTimeout(function() {
                document.getElementById('loading-screen').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }, 3000000);
        </script>

    </div>
</center>
{% else %}
<script>
window.location.href = "{{ url_for('index') }}"
</script>
{% endif %}
{% endblock %}